* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "plain light";
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: red; */
}

body {
  overflow-x: hidden;
}

/* #0b0b0b */

#crsr {
  height: 2vw;
  width: 2vw;
  position: fixed;
  border-radius: 50%;
  border: 2px solid #ffffff73;
  z-index: 1000;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #030303;
  padding: 25vh 10vw;
}

.line {
  height: fit-content;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  gap: 3vw;
}

#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
}

#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}

.line h2 {
  font-size: 6.5vw;
  font-weight: 900;
  text-transform: uppercase;
}

.line h3 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;

  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes animeNow {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  47% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  55% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#main {
  position: relative;
  background-color: #151515;
}

#page1 {
  min-height: 78vh;
  width: 100%;
  /* background-color: red; */
  /* background-color: #151515; */
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 5.5vw;
  position: relative;
  z-index: 1001;
}

#nav-logo {
  height: 3.73vw;
  width: 3.73vw;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

#nav-part2 {
  font-size: 0.8vw;
  font-weight: 500;
}

.hero {
  /* background-color: aqua; */
  width: 73%;
  margin-left: 27%;
  height: fit-content;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1001;
  overflow-x: visible;
}

.hero:nth-child(2) {
  margin-top: 12vh;
}

.hero h1 {
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7.2vw;
}

#hero1 {
  position: relative;
}

#hero1::before {
  content: "01";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -18%;
  top: 29%;
}

.hero h2,
.hero h3 {
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7.2vw;
}

.hero h2:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 500;
  border: none;
}

#hero3 h2 {
  border-bottom: 0.5vw solid white;
  padding-bottom: 0.3vw;
  margin-right: 0.3vw;
  /* transition: all ease 0.3s; */
}

#hero3 h2:hover {
  border-bottom: transparent;
}

/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* /////////////////                /////////////////// */
/*                      PAGE 2                          */
/* ////////////////                 /////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */

#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 27vh;
  position: relative;
}

#video-container {
  height: 66vh;
  width: 71vw;
  position: relative;
  margin-left: auto;
  margin-right: 0.6vw;
  /* background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg"); */
}

#video-container img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-container video {
  /* display: none; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-cursur {
  background-color: #ffa63d;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 80%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

#video-cursur i {
  font-size: 1.8vw;
}

/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* /////////////////                /////////////////// */
/*                      PAGE 3                          */
/* ////////////////                 /////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #030303;
  margin-bottom: 20vw;
  padding: 17vh 2vw;
}

#page3 h2 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
  padding: 17vh 0;
  margin-left: 28vw;
}

#page3 h2::before {
  content: "02";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -12%;
  /* top: 8%; */
  top: 28%;
}
#page3 .underline {
  /* .underline { */
  height: 1px;
  width: 100%;
  background-color: white;
  /* background-color: green; */
  margin: 1vw 0px;
  margin-left: 28vw;
}

#image-div-container {
  padding: 1vw;
  position: relative;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2vw;
}

.image-div {
  height: 33vw;
  width: 23vw;
  background-color: #3f7df4;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.image-div img {
  height: 100%;
  width: 100%;
}

/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* /////////////////                /////////////////// */
/*                      PAGE 4                          */
/* ////////////////                 /////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */

#page4 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 7vh 0;
}

#page4-content {
  position: relative;
  width: 72vw;
  margin-left: 28%;
  overflow: hidden;
}

#page4-content h2 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
}

#page4-content h2::before {
  content: "03";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -12%;
  top: 8%;
}
#page4-content .underline {
  /* .underline { */
  height: 1px;
  width: 100%;
  background-color: white;
  /* background-color: green; */
  margin: 5vw 0px;
}
#page4-content > p {
  font-size: 2.05vw;
  width: 50%;
  margin-bottom: 3vw;
}

#page4-flex {
  display: flex;
}

#page4-flex img {
  width: 48%;
}
#page4-flex p {
  font-size: 0.9vw;
  width: 19%;
  margin-left: 1vw;
}

#page4-blue-div {
  background-color: #3f7df4;
  width: 33vw;
  padding: 3vw;
  position: relative;
  margin-top: -35vh;
  margin-left: 26vw;
}

.blue-div-elem {
  display: flex;
  justify-content: space-between;
  padding: 1.7vw 0;
  border-bottom: 2px solid #ffffffb4;
}
.blue-div-elem h4 {
  font-size: 1.4vw;
  font-weight: 500;
}
.blue-div-elem p {
  width: 40%;
  font-size: 0.7vw;
}

/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* /////////////////                /////////////////// */
/*                      PAGE 5                          */
/* ////////////////                 /////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */

#page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  /* padding: 5vw 0; */
}

.elem,
.elem2 {
  /* background-color: red; */
  white-space: nowrap;
  margin-bottom: -2vw;
}

.elem h2 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16px;
  animation-name: marque;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.elem span,
.elem2 span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}

@keyframes marque {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.elem2 h2 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16px;
  transform: translateX(calc(-100% - 20px));
  animation-name: marque;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* /////////////////                /////////////////// */
/*                      PAGE 5                          */
/* ////////////////                 /////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */

#footer {
  min-height: 85vh;
  width: 100%;
  position: relative;
  /* width: 60vw; */
  padding-left: 28vw;
  padding-right: 2vw;
}

#footer h2 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
}
#footer h2::before {
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -12%;
  top: 8%;
}

#footer .underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 3vw 0;
}

#footer-div {
  display: flex;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 4vw;
  margin-bottom: 3vw;
}

#footer-div .box {
  width: 20%;
}

#footer h6 {
  font-size: 0.9vw;
  margin-bottom: 1.5vw;
  font-weight: 600;
}
#footer h5 {
  font-size: 1.4vw;
  font-weight: 500;
  text-transform: capitalize;
  /* margin: 0.1vh 0; */
}

#footer > h5 {
  font-weight: 500;
  font-size: 0.8vw;
}

._canvas_container {
  z-index: 9999 !important;
  pointer-events: none;
}
